body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 30px;
}
h4{
    font-size: 20px;
}

.orange-color{
    color: orange;
}
.button{
    text-decoration: none;
   background-image: linear-gradient(45deg, orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 7px;
}
.top-banner,.about-section{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about-image{
    width: 45%;
}
.full-stack{
    margin: 40px;
    padding: 20px;
   box-shadow: 10px 10px 40px gray;
   border-radius: 5px;
    border-left: 7px solid red ;
    
    }
.baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,rgb(52, 52, 128)); 
    border-image-slice: 1;}
    footer{
        text-align: center;
        font-size: 10px;
    }